<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="devock.cpms.board.service.impl.BoardMapper">

	<sql id="includeBoard">
        WHERE BRDDELETEFLAG='N' AND TBG.BGDELETEFLAG='N'
        <if test="bgno!=null and bgno!=''">
            AND TB.BGNO=#{bgno}
        </if>  
        <if test="searchKeyword!=null and searchKeyword!='' and searchType!=''">
            <foreach item="item" index="index" collection="searchTypeArr" separator=" OR " open="AND (" close=")">
                 ${item} LIKE CONCAT('%', #{searchKeyword},'%' )
            </foreach>
        </if>               
    </sql>

	<select id="selectBoardCount" resultType="Integer" parameterType="boardSearchVO">
        SELECT COUNT(*)
          FROM TBL_BOARD TB
         INNER JOIN TBL_BOARDGROUP TBG ON TBG.BGNO=TB.BGNO
         INNER JOIN COM_USER CU ON TB.USERNO=CU.USERNO
          <include refid="includeBoard"/>  
    </select> 
    
   
    <select id="selectBoardList" resultType="boardVO" parameterType="boardSearchVO">
        SELECT BRDNO, BRDTITLE, DATE_FORMAT(BRDDATE,'%Y-%m-%d') BRDDATE, BRDLIKE
             , TB.USERNO, USERNM BRDWRITER, BGNAME, TB.BGNO
             , (SELECT COUNT(*) FROM TBL_BOARDREAD WHERE BRDNO=TB.BRDNO) BRDHIT
             , (SELECT COUNT(*) FROM TBL_BOARDFILE WHERE BRDNO=TB.BRDNO) FILECNT
             , (SELECT COUNT(*) FROM TBL_BOARDREPLY WHERE BRDNO=TB.BRDNO AND REDELETEFLAG='N') REPLYCNT
          FROM TBL_BOARD TB
         INNER JOIN COM_USER CU ON TB.USERNO=CU.USERNO
         INNER JOIN TBL_BOARDGROUP TBG ON TBG.BGNO=TB.BGNO
         <include refid="includeBoard"/>
         ORDER BY BRDNO DESC 
         <if test="rowStart != null">
             LIMIT ${rowStart-1}, 10
         </if>
    </select> 
    
    <select id="selectBoardGroupOne4Used" parameterType="String" resultType="boardGroupVO">
        SELECT BGNO, BGNAME, BGUSED, BGREPLY, BGREADONLY, BGNOTICE
          FROM TBL_BOARDGROUP
         WHERE BGDELETEFLAG='N' AND BGNO=#{bgno} AND BGUSED='Y'
    </select> 
    
        <select id="selectNoticeList" resultType="boardVO" parameterType="boardSearchVO">
        SELECT BRDNO, BRDTITLE, DATE_FORMAT(BRDDATE,'%Y-%m-%d') BRDDATE, BRDNOTICE, BRDLIKE
             , TB.USERNO, USERNM BRDWRITER, BGNAME, TB.BGNO
             , (SELECT COUNT(*) FROM TBL_BOARDREAD WHERE BRDNO=TB.BRDNO) BRDHIT
             , (SELECT COUNT(*) FROM TBL_BOARDFILE WHERE BRDNO=TB.BRDNO) FILECNT
             , (SELECT COUNT(*) FROM TBL_BOARDREPLY WHERE BRDNO=TB.BRDNO AND REDELETEFLAG='N') REPLYCNT
          FROM TBL_BOARD TB
         INNER JOIN COM_USER CU ON TB.USERNO=CU.USERNO
         INNER JOIN TBL_BOARDGROUP TBG ON TBG.BGNO=TB.BGNO
         WHERE BRDDELETEFLAG='N' AND BRDNOTICE='Y'
        <if test="bgno!=null and bgno!=''">
            AND TB.BGNO=#{bgno}
        </if>  
         ORDER BY BRDNO DESC 
         LIMIT 3
    </select> 
    
     <select id="selectBoardOne" parameterType="field3VO" resultType="boardVO">
        SELECT BGNO, BRDNO, BRDTITLE, USERNM BRDWRITER, BRDMEMO, BRDNOTICE, BRDLIKE
             , DATE_FORMAT(BRDDATE,'%Y-%m-%d') BRDDATE, TB.USERNO
             , (SELECT COUNT(*) FROM TBL_BOARDREAD WHERE BRDNO=TB.BRDNO) BRDHIT
             , (SELECT 1 FROM TBL_BOARDLIKE WHERE BRDNO=TB.BRDNO AND USERNO=#{field2}) BRDLIKECHK
          FROM TBL_BOARD TB
         INNER JOIN COM_USER CU ON TB.USERNO=CU.USERNO
         WHERE BRDDELETEFLAG='N'
           AND BRDNO=#{field1}
    </select> 
    
    <select id="selectBoardAuthChk" parameterType="boardVO" resultType="String">
        SELECT BRDNO
          FROM TBL_BOARD
         WHERE BRDDELETEFLAG='N'
           AND BRDNO=#{brdno} AND USERNO=#{userno}
    </select> 
    
    <insert id="insertBoard" parameterType="boardVO" >
        <selectKey resultType="String" keyProperty="brdno" order="BEFORE">
            SELECT IFNULL(MAX(BRDNO),0)+1 FROM TBL_BOARD
        </selectKey>
    
        INSERT INTO TBL_BOARD(BGNO, BRDNO, BRDTITLE, USERNO, BRDMEMO, BRDNOTICE, BRDDATE, BRDDELETEFLAG, LASTDATE, LASTUSERNO)
        VALUES (#{bgno}, #{brdno}, #{brdtitle}, #{userno}, #{brdmemo}, #{brdnotice}, NOW(), 'N', NOW(), #{userno} )
    </insert>
    
    <update id="updateBoardRead" parameterType="field3VO"> 
        INSERT INTO TBL_BOARDREAD(BRDNO, USERNO, READDATE)
                 VALUES (#{field1}, #{field2}, NOW())
                     ON DUPLICATE KEY UPDATE READDATE=NOW();
    </update> 
    
    
    <!-- ========================= File ============================== -->
    
    <select id="selectBoardFileList" resultType="fileVO" parameterType="String">
        SELECT FILENO, FILENAME, REALNAME, FILESIZE
          FROM TBL_BOARDFILE
         WHERE BRDNO=#{brdno}
         ORDER BY FILENO DESC 
    </select> 
</mapper>


