<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="devock.cpms.admin.organ.service.impl.DeptMapper">

 	<select id="selectDepartment" resultType="treeVO" >
        SELECT DEPTNO 'KEY', DEPTNM TITLE, PARENTNO PARENT
          FROM COM_DEPT
         WHERE DELETEFLAG='N' 
         ORDER BY DEPTNO  
   	</select> 
	
	
    
	
</mapper>


