<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="devock.cpms.etc.service.impl.EtcMapper">
	
	<select id="selectAlertCount" parameterType="String" resultType="Integer">
        SELECT (
                    SELECT COUNT(distinct TB.BRDNO, TBL.BLNO) CNT
                      FROM TBL_BOARD TB
                      LEFT OUTER JOIN TBL_BOARDREAD TBR ON TBR.BRDNO=TB.BRDNO AND TBR.USERNO=#{userno}
                     INNER JOIN TBL_BOARDLIKE TBL ON TBL.BRDNO=TB.BRDNO
                     WHERE BRDDELETEFLAG='N' AND TB.USERNO=#{userno}
                       AND TBL.BLDATE > IF(TB.BRDDATE>IFNULL(TBR.READDATE,0), TB.BRDDATE, TBR.READDATE)
                ) + (
                    SELECT COUNT(*) CNT
                      FROM (
                            SELECT TB.BRDNO, TBRE.RENO
                              FROM TBL_BOARD TB
                              LEFT OUTER JOIN TBL_BOARDREAD TBR ON TBR.BRDNO=TB.BRDNO AND TBR.USERNO=#{userno}
                             INNER JOIN TBL_BOARDREPLY TBRE ON TBRE.BRDNO=TB.BRDNO
                             WHERE BRDDELETEFLAG='N' AND TB.USERNO=#{userno} AND TBRE.USERNO!=#{userno}
                               AND TBRE.REDATE > IF(TB.BRDDATE>IFNULL(TBR.READDATE,0), TB.BRDDATE, TBR.READDATE)
                            UNION 
                            SELECT TBR.BRDNO, TBRE.RENO
                              FROM TBL_BOARDREPLY TBR
                             INNER JOIN TBL_BOARDREAD TBRR ON TBR.BRDNO=TBRR.BRDNO
                             INNER JOIN TBL_BOARDREPLY TBRE ON TBRE.BRDNO=TBR.BRDNO
                             WHERE TBR.REDELETEFLAG='N' AND TBR.USERNO=#{userno} AND TBRR.USERNO=#{userno}  AND TBRE.USERNO!=#{userno}
                               AND TBRE.REDATE > TBRR.READDATE 
                    ) DS               
                ) CNT
    </select>
    
	
</mapper>
