<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="devock.cpms.main.service.impl.SampleMapper">

 	
	<select id="selectBoardGroupCount4Statistic" resultType="countVO" >
        SELECT BGNAME FIELD1, CNT CNT1
          FROM (
                SELECT BGNO, COUNT(*) CNT
                  FROM TBL_BOARD TB
                 WHERE BRDDELETEFLAG='N' 
                 GROUP BY BGNO
        ) DS
        INNER JOIN TBL_BOARDGROUP TBG
        WHERE TBG.BGNO=DS.BGNO AND BGDELETEFLAG='N' 
    </select> 
    
	
</mapper>


