<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="devock.cpms.admin.organ.service.impl.UserMapper">
    
    <select id="selectUserOne" parameterType="String" resultType="userVO">
        SELECT USERNO, USERID, USERNM, USERPW, USERROLE, PHOTO, DEPTNO
          FROM COM_USER
         WHERE DELETEFLAG='N' 
           AND USERNO=#{userno}
    </select> 
    
    <update id="updateUserPassword" parameterType="userVO">
        UPDATE COM_USER
           SET USERPW=SHA2(#{userpw}, 256)
         WHERE USERNO=#{userno} 
    </update> 
    
    <update id="updateUserByMe" parameterType="userVO">
        UPDATE COM_USER
           SET USERNM=#{usernm}
             <if test="photo!=null and photo!=''"> 
                 , PHOTO=#{photo}
             </if>     
         WHERE DELETEFLAG='N'
           AND USERNO=#{userno} 
    </update> 
    
    <select id="selectUserListWithDept" parameterType="searchVO" resultType="userVO">
        SELECT USERNO, USERID, USERNM, USERPW, PHOTO, CU.DEPTNO, DEPTNM
          FROM COM_USER CU
         INNER JOIN COM_DEPT CD ON CD.DEPTNO=CU.DEPTNO
         WHERE CU.DELETEFLAG='N' AND CD.DELETEFLAG='N'
           <if test="searchExt1!=null and searchExt1!=''">
               AND CU.DEPTNO=#{searchExt1} 
           </if>
           <if test="searchKeyword!=null and searchKeyword!=''">
               AND CU.USERNM LIKE CONCAT('%', #{searchKeyword}, '%') 
           </if>
    </select> 
    
    
        
</mapper>
