<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="devock.cpms.admin.organ.service.impl.UserMapper">
    
    <select id="selectUserOne" parameterType="String" resultType="userVO">
        SELECT USERNO, USERID, USERNM, USERPW, USERROLE, PHOTO, DEPTNO
          FROM COM_USER
         WHERE DELETEFLAG='N' 
           AND USERNO=#{userno}
    </select> 
    
    
        
</mapper>
